.employee-container {
    text-align: center;
    padding: 20px;
}

.employee-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.employee-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.employee-card:hover {
    transform: scale(1.05);
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.expand-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s ease-in-out;
}

.remove-button{
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s ease-in-out;
}

.expand-button:hover {
    background-color: #0056b3;
}

.expanded-info {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    color: #444;
}
.addEmp {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.addEmp:hover {
    background-color: #0056b3;
}

.confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
}

.confirmation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-button {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.cancel-button {
    background-color: #ccc;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.confirm-button:hover {
    background-color: #d32f2f;
}

.cancel-button:hover {
    background-color: #bbb;
}

